[submodule "scripts/apothecary"]
	path = scripts/apothecary
	url = https://github.com/openframeworks/apothecary
[submodule "addons/ofxImGui"]
	path = addons/ofxImGui
	url = https://github.com/olekristensen/ofxImGui
[submodule "addons/ofxRealsense2"]
	path = addons/ofxRealsense2
	url = https://github.com/olekristensen/ofxRealsense2
[submodule "apps/projectGenerator"]
	path = apps/projectGenerator
	url = https://github.com/openframeworks/projectGenerator
[submodule "apps/stagesOfScience/realsense-osc-tracker"]
	path = apps/stagesOfScience/realsense-osc-tracker
	url = https://github.com/den-frie-vilje/realsense-osc-tracker.git
