[submodule "scripts/apothecary"]
	path = scripts/apothecary
	url = https://github.com/openframeworks/apothecary
[submodule "addons/ofxChoreograph"]
	path = addons/ofxChoreograph
	url = https://github.com/olekristensen/ofxChoreograph
[submodule "addons/ofxPBR"]
	path = addons/ofxPBR
	url = https://github.com/olekristensen/ofxPBR
[submodule "addons/ofxImGui"]
	path = addons/ofxImGui
	url = https://github.com/olekristensen/ofxImGui
[submodule "apps/oresund"]
	path = apps/oresund
	url = https://github.com/olekristensen/oresund
